<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/CSS.css">
</head>
<body>
    <div class="login-container">
        <h2>Create Account</h2>
        <form method="post" action="/register">
            <div class="input-group">
                <label for="newUsername">Username</label>
                <input type="text" name="newUsername" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="newPassword">Password</label>
                <input type="password" name="newPassword" required>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>