<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/static/CSS.css">
</head>
<body>
    <div class="login-container">
        <h2>Verify OTP</h2>
        <form method="post" action="/verify_otp">
            <input type="hidden" name="email" value="{{ email }}">
            <div class="input-group">
                <label for="otp">Enter the OTP sent to your email</label>
                <input type="text" name="otp" required>
            </div>
            <button type="submit">Verify</button>
        </form>
    </div>
</body>
</html>
